<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cyklistika{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Záhlaví -->
     {% include 'page/header.html' %}
    <!-- Navigace -->
    {% include 'page/navbar.html' %}
    <!-- Obsah stránky -->
    <main class="container">
    {% block content %}{% endblock %}
    </main>
    <!-- Zápatí -->
     {% include 'page/footer.html' %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>